<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div id="app">
    <div class="row no-gutters">
      <div class="col col-2">
        <div class="card">
          <div class="card-header">
            Пользователи
          </div>
          <div class="card-body">
            <div class="contacts">
              <div class="card mb-1 mr-1" v-for="client in clientsList">
                <div class="card-header">
                  {{client.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-10">
        <div class="card ">
          <div class="card-header">
            Чат
          </div>
          <div class="card-body">
            <div class="messages">
              <div class="card mb-1 mr-1" v-for="chatMessage in chatMessages">
                <div class="card-header">
                  {{chatMessage.name}}
                </div>
                <div class="card-body">
                  {{chatMessage.message}}
                </div>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-lg-11 col-md-10 pr-1">
                <input type="text" class="form-control" v-model="message" placeholder="Enter message"
                  @click.ctrl.exact="s()">
              </div>
              <div class="col-lg-1 col-md-2">
                <button class="btn btn-primary" @click="sendMessage()">Отправить</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
  <script>
    const socket = io()
    new Vue({
      el: '#app',
      data: {
        chatMessages: [],
        clientsList: [],
        message: '',
        myName: ''
      },
      created() {
        this.myName = prompt("Please enter your name");
        this.newClient(this.myName);
        socket.on('chatMessage', (data) => {
          console.log(data);
          this.chatMessages.push(data);
        })
        socket.on('updateClients', clients => {
          this.clientsList = clients
        })
      },
      methods: {
        sendMessage() {
          socket.emit('chatMessage', { name: this.myName, message: this.message });
        },
        newClient(clientName) {
          socket.emit('newClient', clientName)
        }
      },
    })
  </script>
</body>
<style>
  body {
    margin: 10px;
    overflow: hidden;
  }

  .col {
    border-radius: 5px;
  }

  .contacts {
    height: 82vh;
    overflow-y: scroll
  }

  .messages {
    height: 82vh;
    overflow-y: scroll
  }

  .col-10 {
    height: 50%;

  }
</style>

</html>